*~
*.out
*.Rout
.DS_Store
.Rapp.history
.RData
.Rhistory
.Rproj.user/
docs
dump.rdb
inst/doc
vignettes/*.html
README.html
paper.html
.Rproj.user
revdep
fd.key
fd.csr
fd.crt
_targets
_targets.R
_targets.yaml
