name: r-multiverse-staging

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  r-multiverse-staging:
    uses: r-universe-org/workflows/.github/workflows/build.yml@v3
    with:
      universe: r-multiverse-staging
